<%- include("../partials/navbar") %>
<div class="container-fluid" style="background-image: ('url:images/Robson-Mountain.jpg');">

    <br>
    <h2>Projects</h2>
    <hr>
    <div class="container">
        <h3>Filters</h3>
        <hr>
        <form id="form-filter" method="GET">
            <input type="hidden" name="page" value="1">
            <div class="container form-group row">
                <label for="inputID" class="col-sm-2 col-form-label">
                    <input type="checkbox" id="inputID" name="cid"> ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name='id' placeholder="ID">
                </div>
            </div>
            <div class="container form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">
                    <input type="checkbox" id ="inputName" name="cnama"> Name </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name='nama' placeholder="Name">
                </div>
            </div>
            <div class="container form-group row">
                <label for="Member" class="col-sm-2 col-form-label"> 
                    <input type="checkbox" id="Member" name="cmember"> Member </label>
                <div class="col-sm-10">
                    <select class="custom-select" name="member">
                        <option value="">Choose Member</option>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="container form-group row">
                <div class="col-sm-10">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
                    <a href="" class="btn btn-dark my-2 my-sm-0" type="submit">Show All</a>
                </div>
            </div>
        </form>
    </div>


    <div class="container">
        <form method="POST" action="">
            <h3>Options</h3>
            <hr>
            <div class="form-group row">
                <div class="col-sm-2" style=>Columns</div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cid" name="checkid" value="true" checked>
                        <label class="form-check-label" for="cid">
                            ID
                        </label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cname" name="checkname" value="true" checked>
                        <label class="form-check-label" for="cname">
                            Name
                        </label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cmember" name="checkmember" value="true" checked>
                        <label class="form-check-label" for="cmember">
                            Member
                        </label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Apply</button>
                </div>
            </div>
        </form>
        <hr>
    </div>

    <div class="container">

        <table class="table">
            <thead class="" style="background-color: #787878;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Members</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <td><a href="/projects/overview"># </a></td>
                <td>Romie</td>
                <td>YA</td>
                <td>Tidak</td>
                
            </tbody>
        </table>
        <div class="form-group row">
            <div class="col-sm-10">
                <a href="/projects/add" class="btn btn-dark my-2 my-sm-0" type="submit">Add</a>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

<%- include("../partials/footer") %>